body {
  padding: 75px 0 0 0;
  background: #2f2840 url("images/bg_body.gif");
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #45494d;
}

nav {
  text-align: center;
  padding: 35px 0;
}

.nav__item {
  display: inline;
  padding: 0 42px;
}

.nav__link {
  text-transform: uppercase;
  font-size: 24px;
  color: #cacaca;
}

.nav__link--active {
  font-weight: bold;
  color: #6db9ff;
}

.main {
  padding: 75px 0 0 0;
  background: #ffffff;
}

.main__column {
  max-width: 1000px;
  margin: 0 auto;
}

.logo__link {
  display: block;
  color: transparent;
  width: 298px;
  height: 243px;
  margin: 0 auto;
  background: transparent url("images/logo.png") 0 0 no-repeat;
}

h2 {
  text-align: center;
  padding: 0 0 40px 0;
  font-size: 36px;
}

h2:before,
h2:after {
  content: "\2022";
}

.main__section {
  padding: 0 110px 50px 110px;
}

.main__section--team {
  padding: 0 0 100px 0;
}

.project--subsequent {
  border-top: 1px solid #cccccc;
  padding: 50px 110px 50px 110px; 
}

h3 {
  text-align: center;
  font-size: 24px;
  color: #3e59b2;
  padding: 0 0 20px 0;
}

.project__figure {
  padding: 0 30px 20px 30px;
  margin: 0;
}

.project__img {
  width: 100%;
}

.main__description {
  padding: 0 110px 100px 110px;
  text-align: justify;
}

.main__description--project {
  padding: 0 110px;
}

.team__list {
  margin: 0 auto;
  text-align: center;
}

.team__item {
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  box-sizing: border-box;
  font-size: 24px;
}

.team__name {
  color: #3e59b9;
}

.team__photo {
  display: block;
  margin: 0 0 20px 0;
}

.footer {
  background: #e7e7e7;
  padding: 75px;
}

.footer__ul {
  margin: 0;
  text-align: center;
  padding: 30px;
}

.footer__about {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  color: #b2b2b6;
}

.footer__item {
  display: inline-block;
  padding: 0 62px;
}

.footer__link {
  display: block;
  width: 46px;
  height: 46px;
  overflow: hidden;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

.footer__link--facebook {
  background-position: 0 -46px;
}

.footer__link--email {
  background-position: 0 -92px;
}

.footer__link--instagram {
  background-position: 0 -138px;
}

@media (max-width: 875px) {
  .team__item {
    width: 50%;
    padding: 0 0 30px 0;
  }

  .team__photo {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 45px;
  }

  .logo__link {
    width: 223px;
    height: 182px;
    background-size: cover;
  }

  nav {
    padding: 24px 0;
  }

  .main {
    padding-top: 40px;
  }

  .main__section {
    padding: 0 40px 50px 40px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer__item {
    padding: 0 32px;
  }

  .main__description {
    padding: 0 30px 40px 30px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
    font-size: 16px;
  }

  header {
    padding: 15px 20px;
  }

  .logo {
    float: left;
    margin: 20px 0 0 0;
  }

  .logo__link {
    width: auto;
    height: 40px;
    padding: 10px 0 0 55px;
    font-size: 22px;
    color: #ffffff;
    background-position: -20px 0;
    background-size: 90px auto;
  }

  h2 {
    font-size: 26px;
  }

  h2:before,
  h2:after {
    vertical-align: 0;
  }

  h3 {
    font-size: 22px;
  }

  nav {
    font-size: 16px;
    text-align: right;
  }

  nav ul {
    margin: 0;
  }




}