body {
  padding: 75px 0 50px 0;
  background: #2f2840 url("bg_body.gif");
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #45494d;
}

header, main, footer {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  padding: 75px 0 0 0;
  background: white;
  text-align: center;
}

h1 { 
  padding: 0 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  color: #3e98b2;
}

article {
  padding: 0 110px 100px 110px;
}

footer {
  background: #e7e7e7;
  height: 120px;
  padding: 0;
}

footer ul {
  margin: 0;
  text-align: center;
  padding: 30px;
}

li {
  display: inline;
  padding: 0 62px;
  margin: auto 0;
  list-style: none;
}