html, body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #060606;
  height: 100%;
}

.sidebar {
  width: 335px;
  background: #464f77;
  height: 100%;
}

.sidebar td:first-child,
.sidebar th:first-child {
  width: 137px;
}